*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .outfit-<uniquifier> {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
.outfin-font {
    font-family: "Outfit", serif;
}

.transaction_card{
    
}