*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav {
    background: #2ecc71;
    padding: 8px 0px;
}
nav  .navul {
    display: flex;
}
.nav_div > ul li {
    list-style: none;
    position: relative;
}
nav ul li a {
    text-decoration: none;
    padding: 9px 34px;
    display: inline-block;
    /* background: #34495e; */
    color: white;
    width: 100%;
}
nav ul li a:hover{
    background: #34495e;
}
nav .nav_div {
    width: 34%;
    margin: auto;
}

.dropdown li {
    list-style: none;
}
nav li .dropdown {
    border: 1px solid black;
    display: none;
    position: absolute;
    background: #2ecc71;
    width: 201px;
    left: 0;
    top: 100%;
    z-index: 500;
}

nav li:hover .dropdown{
    display: block;
}