*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.main_title{
    padding: 20px 0px;
    background-color: #e74c3c;
}
.main_title h1{
    text-align: center;
    color: white;
}

.video_1 {
    text-align: center;
    margin: 20px 0px;
}
.video_1 video {
    border: 5px solid #05d6eb;
}
.downlaod_btn{}
.downlaod_btn a{
    text-decoration: none;
    display: inline-block;
    background: #041f3a;
    color: wheat;
    padding: 7px 16px;
    border-radius: 3px;
    margin-top: 10px;
}
.first_video{
    display: inline-block;
}
.second_video{
    display: inline-block;
    margin-top: 10px;
}


.audio_1{}
.audio_1 a {
    text-decoration: none;
    display: inline-block;
    background: #34495e;
    color: wheat;
    padding: 7px 16px;
    border-radius: 3px;
    margin-left: 10px;
}
.first_audio {
    display: flex;
    align-items: center;
}
.first_audio audio{}
.first_audio a{}
.second_audio {
    display: flex;
    align-items: center;
}
.second_audio audio{}
.second_audio a{}



.iframe_1{
    text-align: center;
    margin-bottom: 20px;
}
.iframe_1 h2{
    padding: 10px 0px;
    text-align: c;
    background-color: #e74c3c;
    color: white;
    margin: 20px 0px;
}
.iframe_1 .first_iframe {
    display: inline-block;
}
.iframe_1 .first_iframe iframe{
    border: 5px solid #e74c3c;
}
.iframe_1 iframe{}
.iframe_1 .second_iframe{
    display: inline-block;
}



.iframe_2 {
    text-align: center;
    margin: 20px 0px;
}
.ph_iframe iframe {
    margin-bottom: -4px;
}
.ph_iframe {
    display: inline-block;
    border: 2px solid;
}
.btn_iframe {
    background: #7fabff;
    padding: 5px 0px;
}
.btn_iframe a {
    text-decoration: none;
    color: black;
}